@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff !important;
	height: 1500px;
}

a:hover, a:focus {
	color: #ffffff;
}

.grey-zone {
	width: 100%;
	height: 100px;
	background-color: #eeeeee;
	margin-top: 100px;
}

.myPage-box {
	width: 900px;
	height: 1700px;
	margin-left: auto;
	margin-right: auto;
}

.info-zone {
	width: 800px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -80px;
}

.mem-info {
	width: 200px;
	display: inline-block;
	margin-top: 45px;
}

.btn-zone {
	width: 300px;
	height: 50px;
	display: inline-block;
	float: right;
	margin-top: 20px;
	text-align: right;
}

.myPage-btn {
	margin: 0;
	width: 120px;
	height: 40px;
	background-color: #6927FF;
	color: #ffffff;
	border: 0;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	padding: 5px;
}

.box-zone {
	width: 900px;
	height: 1500px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.menu-mark {
	width: 240px !important;
	height: 40px !important;
	background-color: #6927FF !important;
	color: #ffffff !important;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
}

.my-study {
	width: 800px;
	height: 250px; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.study-zone {
	width: 800px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	overflow: scroll;
}

.study-zone::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #ffffff;
}
.study-zone::-webkit-scrollbar-thumb {
	border-radius: 3.5px;
  	background-color: #ced4da;
	&:hover {
    	background-color: #adb5bd;
	}
}
.study-zone::-webkit-scrollbar-track {
	background: #ffffff;
}

.study-box {
	width: 792px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 1px solid #cccccc;
}

.txt-box {
	width: 600px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.study-name {
	display: inline-block;
	float: left;
	font-weight: bold;
	font-size: 15px;
}

.study-info {
	display: inline-block;
	float: right;
}

.label {
	margin-right: 15px;
	font-size: 14px;
}

.value {
	margin-right: 30px;
	font-weight: bold;
	font-size: 14px;
}

.my-calender {
	width: 800px;
	height: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	
}

.container-fluid {
    padding: 0 !important;
    
}

.scroll-zone {
	width: 800px;
	height: 700px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	overflow: scroll !important;
	-ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-zone::-webkit-scrollbar {
    display: none;
}

#calendar-events {
	text-align: left;
}

.my-review {
	width: 800px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.review-box {
	width: 798px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	overflow: scroll;
}
.review-box::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #ffffff;
}
.review-box::-webkit-scrollbar-thumb {
	border-radius: 3.5px;
  	background-color: #ced4da;
	&:hover {
    	background-color: #adb5bd;
	}
}
.review-box::-webkit-scrollbar-track {
	background: #ffffff;
}


