@charset "UTF-8";

.group-title {
	padding : 10px 0 30px 0;
}

.owl-nav {
	display : none;
}

.owl-dots {
	padding : 10px;
}

.item {
	height : 200px;
	background-color: red;
	border-radius : 20px;
}

.addGroup {
	margin-right : 10px;
}