@charset "UTF-8";

#table-box {
	width : 90%;
	margin : 20px auto;
}

table td {
	padding: 8px;
}

table td:first-child {
	width : 10%;
	line-height : 38px;
}

#select-box {
	width : 100px !important; 
}

input[type=file] {
	display : none;
}

.invalid-feedback {
	display : none;
}