@charset "UTF-8";

/* 댓글 리스트 */
.reply-box {
	border-bottom: 1px solid #edf2f9 !important;
	padding : 15px 10px 5px 10px;
}

.reply-box img {
	width: 25px;
}

.reply-box div {
	padding-bottom:10px;
}

.reply-box span:nth-child(2) {
	font-weight: 500;
}

.reply-box div:first-child div:first-of-type {
	display: inline-block;
	height: 24px;
	border-radius: 2em;
	color: #6927ff;
 	border: 1px solid #6927ff;
 	padding: 0.25rem 0.5rem;
  	font-size: 0.875rem;
  	line-height: 1;
}

.reply-box span:last-child {
	font-size : 13px;
	font-weight: 300;
  	margin-bottom: 10px;
	color: #9eabc0;
	float: right;
}

.reply-box div:nth-child(2) {
	padding-bottom : 10px;
}

.reply-box .btn-group {
	float: right !important;
}

.reply-box .btn-group button {
	border-radius: 2em;
}

	/* 댓글이 로그인한 사람 댓글일 경우 추가할 클래스 */
	.my-reply {
		background-color : #fafafa;
	}

/* 댓글 등록 */
.reply-enter {
	margin-top : 20px;
	position : relative;
}

#rSubmit {
	display : block;
	position : absolute;
	top : 0;
	right : 0;
	border : none;
	background-color : #6927ff;
	height : 100%;
	width : 9%;
	color : #fff;
}


/*******************************************************************/

/* 제목 */
.card-title {
	padding-bottom : 10px;
}

/* 닉네임 옆에 프로필 이미지 */
.card-subtitle>img {
	width: 25px;
}

/* 파일명 표시 */
.file-box {
	background-color:#f5f7f8;
	margin:0 24px;
}

/* 전체 리스트에서는 댓글 영역 border 없애기 */
.list-reply {
	border : none !important;
}

/* 글쓰기 버튼 */
#write-btn {
	position : fixed;
	bottom : 10%;
	right : 2%;
	border : none;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	line-height: 20px;
	padding: 10px;
	background-color: #6927ff;
	color : #fff;
	font-size : 20px;
}

	#write-btn span {
		display : none;
		font-size : 14px;
		font-weight:500;
	}
	
	#write-btn:hover i {
		display : none;
	}
	
	#write-btn:hover span {
		display : block;
	}

/* 태그들 */

.tags {
	font-size: 12px;
	margin-right : 5px;
	padding : 2px 6px;
	border-radius : 5px;
}

	.tag-free {
		background-color: #818992;
		color : #fff;
	}
	.tag-share {
		background-color: #fecf89;
		color : #000;
	}
	.tag-qna {
		background-color: #ff8499;
		color : #fff;
	}
