@charset "UTF-8";

/* modal */

input {
	text-align : center;
}

input[type=time] {
	width : 48%;
}

#calendar-events {
	border-spacing : 30px;
	border-collapse: separate;
	width : 100%;
}

.custom-checkbox {
	margin : 20px;
}

/* 공휴일 클릭 이벤트 막기 */

.koHolidays {
	pointer-events: none;
}

.koHolidays .fc-title {
	color : #ff4f70 !important;
}
