@charset "UTF-8";

/* 승인 상태 */
.status {
	color: #fff;
}

/* 테이블 */
.btn-area {
	width : 8%;
}

/* 지도 */
#map {
	width: 100%;
	height: 300px;
}

/* 멤버 리스트 */
.del-btn {
	margin : 5px;
	cursor : pointer;
}

/* 마커 오버레이 */

.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	line-height: 1.5;
}
.wrap .info {
	width: 286px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}
.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}
.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #6927ff;
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
}
.info .title a {
	color : #fff;
}
.info .close {
	position: absolute;
	top: 8px;
	right: 10px;
	color: #fff;
	width: 17px;
	height: 17px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}
.info .close:hover {
	cursor: pointer;
}
.info .body {
	position: relative;
	overflow: hidden;
}
.info .desc {
	position: relative;
	margin: 10px;
	height: 75px;
}
.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.desc .search {
	margin-top: 10px;
}
.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px; 
	height: 12px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
.info .link {
	color: #5085BB;
}