<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="assignmentMapper">
	<resultMap type="Assignment" id="assignmentResultMap">
		<id property="asNo" column="AS_NO"></id>
		<result property="grNo" column="GR_NO"></result>
		<result property="asName" column="AS_NAME"></result>
		<result property="asContents" column="AS_CONTENTS"></result>
		<result property="asInsertDate" column="AS_INSERTDATE"></result>
		<result property="asDeadLine" column="AS_DEADLINE"></result>
		<result property="asMotherNo" column="AS_MOTHER_NO"></result>
		<result property="asStatus" column="AS_STATUS"></result>
	</resultMap>
	
	<resultMap type="AssignmentGroup" id="asGroupResultMap">
		<id property="grNo" column="GR_NO"></id>
		<result property="stNo" column="ST_NO"></result>
		<result property="grName" column="GR_NAME"></result>
		<result property="grInfo" column="GR_INFO"></result>
		<result property="grColor" column="GR_COLOR"></result>
		<result property="grStatus" column="GR_STATUS"></result>
	</resultMap>
	
	<!-- 과제 리스트 -->
	<select id="selectListCount" parameterType="hashMap" resultType="_int">
		SELECT COUNT(*) FROM ASSIGNMENT A
		JOIN ASSIGNMENT_GROUP G USING(GR_NO)
		
		WHERE AS_STATUS = 1
		AND ST_NO = #{stNo}
		<if test="grNo > 0">
		AND GR_NO = #{grNo}
		</if>
		ORDER BY AS_NO DESC
	</select>
	
	<select id="selectAllList" parameterType="hashMap" resultMap="assignmentResultMap">
		SELECT
		    AS_NO, GR_NO, AS_NAME, AS_CONTENTS, AS_INSERTDATE, AS_DEADLINE, AS_STATUS
		FROM ASSIGNMENT A
		JOIN ASSIGNMENT_GROUP G USING(GR_NO)
		
		WHERE AS_STATUS = 1
		AND ST_NO = #{stNo}
		<if test="grNo > 0">
		AND GR_NO = #{grNo}
		</if>
		ORDER BY AS_NO DESC
	</select>
	
	<!-- 그룹 리스트 / 디테일 -->
	
	<select id="selectAllGroup" parameterType="_int" resultMap="asGroupResultMap">
		SELECT * FROM ASSIGNMENT_GROUP
		WHERE ST_NO = #{stNo}
		AND GR_STATUS = 1
		ORDER BY GR_NO DESC
	</select>
	
	<select id="selectOneGroup" parameterType="Integer" resultMap="asGroupResultMap">
		SELECT * FROM ASSIGNMENT_GROUP
		WHERE GR_NO = #{grNo}
		AND GR_STATUS = 1
	</select>


	<!-- 캘린더 리스트 -->
	<select id="selectAllByStNo" resultMap="assignmentResultMap">
		SELECT 
			A.AS_NO, GR_NO, A.AS_NAME, A.AS_CONTENTS, A.AS_INSERTDATE, A.AS_DEADLINE, G.GR_COLOR AS AS_STATUS
		FROM ASSIGNMENT A
		JOIN ASSIGNMENT_GROUP G
		USING(GR_NO)
		WHERE ST_NO = #{stNo}
		AND AS_STATUS = 1
	</select>
	
	<!-- 디테일 -->
	<select id="selectOne" resultMap="assignmentResultMap">
		SELECT * FROM ASSIGNMENT
		WHERE AS_NO = #{asNo}
		AND AS_STATUS = 1
	</select>
	
	
	<!-- 과제 그룹 등록 -->
	<insert id="insertGroup" parameterType="AssignmentGroup">
		<selectKey resultType="int" keyProperty="grNo" order="BEFORE">
			SELECT SEQ_AS_GROUP.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO ASSIGNMENT_GROUP VALUES (
			#{grNo}, #{stNo}, #{grName}, #{grInfo}, #{grColor}, DEFAULT
		)
	</insert>
	
	<!-- 과제 그룹 수정 -->
	<update id="updateGroup" parameterType="AssignmentGroup">
		UPDATE ASSIGNMENT_GROUP SET
		GR_NAME = #{grName}, GR_INFO = #{grInfo}, GR_COLOR = #{grColor}
		WHERE GR_NO = #{grNo}
		AND GR_STATUS = 1
	</update>
	
	<!-- 과제 그룹 삭제 -->
	<update id="deleteGroup" parameterType="AssignmentGroup">
		UPDATE ASSIGNMENT_GROUP SET
		GR_STATUS = 0
		WHERE GR_NO = #{grNo}
		AND GR_STATUS = 1
	</update>
	
	
	<!-- 과제 할당 추가 -->
	<insert id="insertAssign" parameterType="Assign">
		INSERT INTO ASSIGN VALUES (
			#{grNo}, #{mbNo}
		)
	</insert>
	
	<!-- 과제 할당 삭제 -->
	<delete id="deleteAssign" parameterType="Assign">
		DELETE FROM ASSIGN
		WHERE GR_NO = #{grNo}
		AND MB_NO = #{mbNo}
	</delete>
	
	
	<!-- 과제 등록 -->
	<insert id="insertAssignment" parameterType="Assignment">
	
		<selectKey resultType="int" keyProperty="asNo" order="BEFORE">
			SELECT SEQ_ASSIGNMENT.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO ASSIGNMENT VALUES (
			#{asNo}, #{grNo}, #{asName}, #{asContents}, TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:ss'), #{asDeadLine}, DEFAULT 
		)
	</insert>
	
	<!-- 과제 수정 -->
	<update id="updateAssignment" parameterType="Assignment">
		UPDATE ASSIGNMENT SET
		AS_NAME = #{asName}, AS_CONTENTS = #{asContents}, AS_DEADLINE = #{asDeadLine}
		WHERE AS_NO = #{asNo}
	</update>
	
	<!-- 과제 삭제 -->
	<update id="deleteAssignment" parameterType="Assignment">
		UPDATE ASSIGNMENT SET
		AS_STATUS = 0
		WHERE AS_NO = #{asNo}
	</update>
	
	
	<!-- 메인페이지 프로젝트별 과제 개수 산정 (과제수 카운트 - GR_STATUS로 가져오기) -->
	<select id="selectGroupChart" parameterType="_int" resultMap="asGroupResultMap">
		SELECT A.GR_NO, COUNT(*) AS GR_STATUS
		FROM ASSIGNMENT_GROUP G
		LEFT OUTER JOIN ASSIGNMENT A ON G.GR_NO = A.GR_NO
		WHERE A.AS_STATUS = 1
		AND G.ST_NO = #{stNo}
		GROUP BY A.GR_NO
		ORDER BY A.GR_NO DESC
	</select>
	
	
	<!-- 마이페이지 내 과제 보기 -->
	<select id="selectAllByMbNo" parameterType="_int" resultMap="assignmentResultMap">
		SELECT
		    AI.AS_NO, AI.GR_NO, AI.AS_NAME, AI.AS_CONTENTS, AI.AS_INSERTDATE, AI.AS_DEADLINE, G.GR_COLOR AS AS_STATUS
		FROM ASSIGNMENT AI
		JOIN ASSIGN A
		ON AI.GR_NO = A.GR_NO
		JOIN ASSIGNMENT_GROUP G
		ON AI.GR_NO = G.GR_NO
		WHERE A.MB_NO = #{mbNo}
	</select>
	
	<!-- 과제율 계산 : 전체 과제 개수 / 스터디 내부 과제 개수 -->
	<select id="selectCountByMbNo" parameterType="_int" resultType="_int">
	<![CDATA[
		SELECT
		   COUNT(*)
		FROM ASSIGNMENT AI
		JOIN ASSIGN A
		ON AI.GR_NO = A.GR_NO
		JOIN ASSIGNMENT_GROUP G
		ON AI.GR_NO = G.GR_NO
		WHERE A.MB_NO = #{mbNo}
	    AND SUBSTR(AS_DEADLINE, 1, 10)	<= TO_CHAR(LAST_DAY(ADD_MONTHS(SYSDATE, -1)), 'YYYY/MM/DD')
        AND SUBSTR(AS_DEADLINE, 1, 10) >= TO_CHAR(ADD_MONTHS(SYSDATE, -1), 'YYYY/MM/') || '01' 
     ]]>
	</select> 
	
	<select id="selectCountByStNo" parameterType="Map" resultType="_int">
	<![CDATA[
		SELECT
		   COUNT(*)
		FROM ASSIGNMENT AI
		JOIN ASSIGN A
		ON AI.GR_NO = A.GR_NO
		JOIN ASSIGNMENT_GROUP G
		ON AI.GR_NO = G.GR_NO
		WHERE A.MB_NO = #{mbNo}
		AND G.ST_NO = #{stNo}
		AND SUBSTR(AS_DEADLINE, 1, 10)	<= TO_CHAR(LAST_DAY(ADD_MONTHS(SYSDATE, -1)), 'YYYY/MM/DD')
        AND SUBSTR(AS_DEADLINE, 1, 10) >= TO_CHAR(ADD_MONTHS(SYSDATE, -1), 'YYYY/MM/') || '01' 
	]]>
	</select>
	
</mapper>