<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap type="Board" id="boardResultMap">
		<id property="boNo" column="BO_NO"></id>
		<result property="stNo" column="ST_NO"></result>
		<result property="mbNo" column="MB_NO"></result>
		<result property="boMotherNo" column="BO_MOTHER_NO"></result>
		<result property="boInsertDate" column="BO_INSERTDATE"></result>
		<result property="boTitle" column="BO_TITLE"></result>
		<result property="boContents" column="BO_CONTENTS"></result>
		<result property="boFileName" column="BO_FILENAME"></result>
		<result property="boCategory" column="BO_CATEGORY"></result>
		<result property="boStatus" column="BO_STATUS"></result>
	</resultMap>
	
	<!-- !게시물 리스트 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE B_STATUS = 'Y'
	</select>
	
	<select id="selectAllList" resultMap="boardResultMap">
		SELECT * FROM BOARD WHERE B_STATUS = 'Y' ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 디테일 -->
	<select id="selectOne" resultMap="boardResultMap">
		SELECT * FROM BOARD
		WHERE BO_NO = #{boNo} AND BO_STATUS = 1
	</select>
	
	<select id="selectAllReply" resultMap="boardResultMap">
		SELECT * FROM BOARD
		WHERE BO_MOTHER_NO = #{boMotherNo}
		AND BO_STATUS = 1
		ORDER BY BO_NO
	</select>
	
	<!-- 등록 -->
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD VALUES (
		<if test="boMotherNo == 0">
			SEQ_BOARD.NEXTVAL, #{stNo}, #{mbNo}, DEFAULT, SYSDATE, #{boTitle}, #{boContents}, #{boFileName}, #{boCategory}, DEFAULT
		</if>
		<if test="boMotherNo != 0">
			SEQ_BOARD.NEXTVAL, #{stNo}, #{mbNo}, #{boMotherNo}, SYSDATE, DEFAULT, #{boContents}, DEFAULT, DEFAULT, DEFAULT
		</if>
		)
	</insert>
	
	<!-- !수정 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD
		SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, ORIGINAL_FILENAME = #{originalFilename}, RENAME_FILENAME = #{renameFilename}, B_UPDATE_DATE = SYSDATE
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- !삭제 -->
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD SET B_STATUS = 'N' WHERE BOARD_NO = #{boardNo}
	</update>
	
</mapper>