<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="enrollmentMapper"> 

	<resultMap type="Enrollment" id="enrollmentResultMap">
		<id property="enrollmentNo" column="EN_NO"></id>
		<result property="memberNo" column="MB_NO"></result>
		<result property="studyNo" column="ST_NO"></result>
		<result property="insertDate" column="EN_INSERTDATE"></result>
		<result property="message" column="EN_MESSAGE"></result>
		<result property="status" column="EN_STATUS"></result>
	</resultMap>
	
	<resultMap type="com.studyus.study.domain.StudyWithEnrollmentList" id="studyWithEnrollmentListResultMap">
		<association property="study" javaType="Study">
		
		</association>
		<collection property="hashtagList" ofType="com.studyus.hashtag.domain.Hashtag" autoMapping="true">
			<id property="hashtagNo" column="HA_NO" javaType="int"></id>
			<result property="name" column="HA_NAME" javaType="String"></result>
		</collection>
	</resultMap> 
	
	<resultMap type="com.studyus.enrollment.domain.EnrollmentWithMember" id="enrollmentWithMemberResultMap">
		<id property="enrollmentNo" column="EN_NO"></id>
		<result property="rNum" column="RNUM"></result>
		<result property="memberNo" column="MB_NO"></result>
		<result property="studyNo" column="ST_NO"></result>
		<result property="insertDate" column="EN_INSERTDATE"></result>
		<result property="message" column="EN_MESSAGE"></result>
		<result property="status" column="EN_STATUS"></result>
		<!-- <collection property="member" column="id" javaType="com.studyus.member.domain.Member" ofType="Member" select="memberMapper.memberResultMap"></collection> -->
		<result property="mbId" column="MB_ID"/>
		<result property="mbPassword" column="MB_PASSWORD"/>
		<result property="mbName" column="MB_NAME"/>
		<result property="mbEmail" column="MB_EMAIL"/>
		<result property="mbNickname" column="MB_NICKNAME"/>
		<result property="mbPhone" column="MB_PHONE"/>
		<result property="mbReputation" column="MB_REPUTATION"/>
		<result property="mbPhoto" column="MB_PHOTO"/>
		<result property="mbStatus" column="MB_STATUS"/>
	</resultMap>

	<insert id="insertEnrollmentApply" parameterType="Enrollment">
		INSERT INTO ENROLLMENT VALUES (SEQ_ENROLLMENT.NEXTVAL,
										#{memberNo},
										#{studyNo},
										SYSDATE,
										#{message},
										DEFAULT)
	</insert>
	
	<insert id="insertEnrollment" parameterType="Enrollment">
		INSERT INTO ENROLLMENT VALUES (SEQ_ENROLLMENT.NEXTVAL,
										#{memberNo},
										#{studyNo},
										SYSDATE,
										#{message},
										#{status}) 
	</insert>
	
	<select id="selectAllByStudyNo" parameterType="int" resultMap="enrollmentWithMemberResultMap">
		SELECT ROWNUM AS RNUM, E.*, M.* FROM ENROLLMENT E LEFT OUTER JOIN MEMBER M ON E.MB_NO = M.MB_NO WHERE E.ST_NO = #{studyNo} AND E.EN_STATUS = 0 ORDER BY E.EN_NO ASC
	</select>
	
	<!-- 이미 가입신청이 되어있는지 확인합니다. 되어있다면 행 갯수를 반환합니다. 이미 가입신청이 수락된 신청서는 확인하지 않습니다. -->
	<select id="selectExistingApplication" parameterType="Enrollment" resultType="int">
		SELECT COUNT(*) FROM ENROLLMENT WHERE MB_NO = #{memberNo} AND ST_NO = #{studyNo} AND EN_STATUS = 0
	</select>
	 
	<!-- 이미 가입이 되어있는 행의 갯수를 반환합니다. -->
	<select id="checkEnrollment" parameterType="Enrollment" resultType="int">
		SELECT COUNT(*) FROM ENROLLMENT WHERE MB_NO = #{memberNo} AND ST_NO = #{studyNo} AND EN_STATUS = 1
	</select>
	
	<update id="updateStatus" parameterType="Enrollment">
		UPDATE ENROLLMENT SET EN_STATUS = #{status} WHERE EN_NO = #{enrollmentNo}
	</update>
	<!-- 추방 -->
	<update id="banishMember" parameterType="Enrollment">
		UPDATE ENROLLMENT SET EN_STATUS = 3 WHERE ST_NO = #{studyNo} AND MB_NO = #{memberNo} AND EN_STATUS = 1
	</update>
	
</mapper>
