<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fileMapper">
	<resultMap id="fileResultMap" type="FileVO">
		<id column="FI_NO" property="fiNo"/>
		<result column="MB_NO" property="mbNo"/>
		<result column="FI_INSERTDATE" property="fiInsertDate"/>
		<result column="FI_REALNAME" property="fiRealName"/>
		<result column="FI_STOREDNAME" property="fiStoredName"/>
		<result column="FI_DIRECTORY" property="fiDirectory"/>
		<result column="FI_STATUS" property="fiStatus"/>
		<result column="FI_BOARD_TYPE" property="fiBoardType"/>
		<result column="FI_MOTHER_NO" property="fiMotherNo"/>
	</resultMap>

	<insert id="insertFile" parameterType="FileVO">
	INSERT INTO FILE_TABLE VALUES (
		SEQ_FILE.NEXTVAL, #{mbNo}, DEFAULT, #{fiRealName}, #{fiStoredName}, #{fiDirectory}, DEFAULT, #{fiBoardType}, #{fiMotherNo}
	)
	</insert>

	<update id="deleteFile">
	UPDATE FILE_TABLE SET
	FI_STATUS = 0
	WHERE FI_BOARD_TYPE = #{fiBoardType} AND FI_MOTHER_NO = #{fiMotherNo} AND FI_STATUS = 1 
	</update>

	<!-- 파일 여러개인 경우 -->
	<select id="selectList" parameterType="FileVO" resultMap="fileResultMap">
	SELECT * FROM FILE_TABLE
	WHERE FI_BOARD_TYPE = #{fiBoardType} AND FI_MOTHER_NO = #{fiMotherNo}AND FI_STATUS = 1
	</select>

</mapper>