<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meetingMapper">

	<resultMap type="Meeting" id="meetingResultMap">
		<id property="meetingNo" column="ME_NO"></id>
		<result property="studyNo" column="ST_NO"></result>
		<result property="start" column="ME_START_TIME"></result>
		<result property="end" column="ME_END_TIME"></result>
		<result property="requiredAttendance" column="ME_REQUIRED_ATTENDANCE"></result>
	</resultMap>
	
	<insert id="insertOne" parameterType="Meeting" useGeneratedKeys="true" keyProperty="meetingNo" keyColumn="ME_NO">
	      INSERT INTO MEETING VALUES ( SEQ_MEETING.NEXTVAL,
	                           #{studyNo},
	                           #{start},
	                           #{end},
	                           #{requiredAttendance},
	                           SYSDATE
	      ) 
   </insert>
	
	<select id="selectCurrentOneByStudyNo" resultMap="meetingResultMap">
		SELECT * FROM MEETING WHERE #{currentTime} BETWEEN ME_START_TIME AND ME_END_TIME AND ST_NO = #{studyNo} AND TRUNC(SYSDATE) &lt;= ME_INSERTDATE
	</select>
	
	<select id="printAttMember" resultMap="meetingResultMap">
		SELECT ROWNUM,ME_NO, ST_NO, ME_REQUIRED_ATTENDANCE, ME_INSERTDATE
		FROM MEETING WHERE ST_NO = #{studyNo} AND ROWNUM = 1 
		ORDER BY ME_NO DESC
	</select>
	
</mapper>
