<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResultMap">
		<result property="mbNo" column="MB_NO"/>
		<result property="mbId" column="MB_ID"/>
		<result property="mbPassword" column="MB_PASSWORD"/>
		<result property="mbName" column="MB_NAME"/>
		<result property="mbEmail" column="MB_EMAIL"/>
		<result property="mbNickname" column="MB_NICKNAME"/>
		<result property="mbPhone" column="MB_PHONE"/>
		<result property="mbReputation" column="MB_REPUTATION"/>
		<result property="mbPhoto" column="MB_PHOTO"/>
		<result property="mbStatus" column="MB_STATUS"/>
	</resultMap>
	
	<select id="selectOneMember" parameterType="Member" resultMap="memberResultMap">
		SELECT * FROM MEMBER WHERE MB_ID = #{mbId} AND MB_PASSWORD = #{mbPassword} AND MB_STATUS = 1
	</select>
	
	<select id="selectOneById" parameterType="Member" resultMap="memberResultMap">
		SELECT * FROM MEMBER WHERE MB_ID = #{mbId}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES(SEQ_MEMBER.NEXTVAL, #{mbId}, #{mbPassword}, #{mbName}, #{mbEmail}, #{mbNickname}, #{mbPhone}, 0, DEFAULT, 0, null)
	</insert>
	
	<update id="updateAuthKey" parameterType="Member">
		UPDATE MEMBER SET AUTHKEY = #{authKey} WHERE MB_ID = #{mbId}
	</update>
	
	<update id="updateKeyByEmail" parameterType="Member">
		UPDATE MEMBER SET AUTHKEY = #{authKey} WHERE MB_EMAIL = #{mbEmail}
	</update>
	
	<select id="checkAuthKey" parameterType="Member" resultMap="memberResultMap">
		SELECT AUTHKEY FROM MEMBER WHERE MB_ID = #{mbId}
	</select>
	
	<select id="checkKeyByEmail" parameterType="Member" resultMap="memberResultMap">
		SELECT AUTHKEY FROM MEMBER WHERE MB_EMAIL = #{mbEmail}
	</select>
	
	<update id="updateStatus" parameterType="Member">
		UPDATE MEMBER SET MB_STATUS = #{mbStatus} WHERE MB_ID = #{mbId}
	</update>
	
	<insert id="insertNaverMem" parameterType="Member">
		INSERT INTO MEMBER VALUES(SEQ_MEMBER.NEXTVAL, #{mbId}, #{mbPassword}, #{mbName}, #{mbEmail}, #{mbNickname}, #{mbPhone}, 0, DEFAULT, 2)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET MB_PASSWORD = #{mbPassword}, MB_NAME = #{mbName}, MB_EMAIL = #{mbEmail}, MB_NICKNAME = #{mbNickname}, MB_PHONE = #{mbPhone}, MB_PHOTO = #{mbPhoto} WHERE MB_ID = #{mbId}
	</update>
	
	<select id="findMemId" parameterType="Member" resultMap="memberResultMap">
		SELECT * FROM MEMBER WHERE MB_EMAIL = #{mbEmail} AND MB_NAME = #{mbName}
	</select>
	
	<select id="findMemPwd" parameterType="Member" resultMap="memberResultMap">
		SELECT * FROM MEMBER WHERE MB_ID = #{mbId} AND MB_EMAIL = #{mbEmail} AND MB_NAME = #{mbName}
	</select>
	
	<select id="checkIdDup" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE MB_ID = #{mbId}
	</select>
	
	<select id="checkNickDup" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE MB_NICKNAME = #{mbNickname}
	</select> 
	
	<select id="checkEmailDup" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE MB_Email = #{mbEmail}
	</select>
	
	<select id="selectAllEnrolled" parameterType="int" resultMap="memberResultMap">
		SELECT * FROM STUDY S
			    LEFT OUTER JOIN ENROLLMENT E USING (ST_NO)
			    LEFT OUTER JOIN MEMBER M ON E.MB_NO = M.MB_NO
		WHERE EN_STATUS = 1
			AND ST_NO = #{studyNo}
	</select>
	
</mapper>