<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

	<resultMap type="Notice" id="noticeResultMap">
		<id property="noticeNo" column="NO_NO"></id>
		<result property="studyNo" column="ST_NO"></result>
		<result property="memberNo" column="MB_NO"></result>
		<result property="nMotherNo" column="NO_MOTHER_NO"></result>
		<result property="nInsertDate" column="NO_INSERTDATE"></result>
		<result property="noticeTitle" column="NO_TITLE"></result>
		<result property="noticeContents" column="NO_CONTENTS"></result>
		<result property="noticeFileName" column="NO_FILENAME"></result>
		<result property="noticeReFileName" column="NO_REFILENAME"></result>
		<result property="noticeStatus" column="NO_STATUS"></result>
		<result property="noticeCount" column="NO_COUNT"></result>
	</resultMap>
	
	<select id="selectAllList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE WHERE ST_NO = #{studyNo} ORDER BY NO_INSERTDATE DESC
	</select>
	
	<select id="selectOne" resultMap="noticeResultMap">
		SELECT * FROM NOTICE WHERE NOTICE_NO = #{noticeNo }
	</select>
	
	<select id="selectSearchList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE
		<if test="searchCondition.toString() == 'writer'">
			WHERE NOTICE_WRITER LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'title'">
			WHERE NOTICE_TITLE LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'content'">
			WHERE NOTICE_CONTENTS LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'all'">
			WHERE NOTICE_WRITER LIKE '%' || #{searchValue } || '%'
			OR NOTICE_TITLE LIKE '%' || #{searchValue } || '%'
			OR NOTICE_CONTENTS LIKE '%' || #{searchValue } || '%'
		</if>
		ORDER BY NO_INSERTDATE DESC
	</select>

	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE VALUES(SEQ_NOTICE.NEXTVAL, #{studyNo}, #{memberNo}, #{nMotherNo}, SYSDATE, #{noticeTitle }, #{noticeContents }, #{noticeFileName }, #{noticeReFileName}, DEFAULT, DEFAULT)
	</insert>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE 
		SET NO_TITLE = #{noticeTitle }, NO_CONTENTS = #{noticeContents }, NO_FILENAME = #{noticeFileName }
		WHERE NO_NO = #{noticeNo }
	</update>
	
	<update id="updateCount">
		UPDATE NOTICE
		SET NO_COUNT = NO_COUNT + 1
		WHERE NO_NO = #{noticeNo }
	</update>
	
	<delete id="deleteNotice" parameterType="_int">
		DELETE FROM NOTICE WHERE NO_NO = #{noticeNo }
	</delete>
	
</mapper>
