<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

	<resultMap type="Notice" id="noticeResultMap">
		<id property="noNo" column="NO_NO"></id>
		<result property="rowNum" column="NO_RNUM"></result>
		<result property="stNo" column="ST_NO"></result>
		<result property="mbNo" column="MB_NO"></result>
		<result property="noMotherNo" column="NO_MOTHER_NO"></result>
		<result property="noInsertDate" column="NO_INSERTDATE"></result>
		<result property="noTitle" column="NO_TITLE"></result>
		<result property="noContents" column="NO_CONTENTS"></result>
		<result property="noWriter" column="MB_NICKNAME"></result>
		<result property="noFileName" column="NO_FILENAME"></result>
		<result property="noReFileName" column="NO_REFILENAME"></result>
		<result property="noStatus" column="NO_STATUS"></result>
		<result property="noCount" column="NO_COUNT"></result>
		<result property="replyCnt" column="NO_REPLY_COUNT"></result>
	</resultMap>
	
	<select id="selectListCount" parameterType="Notice"  resultType="_int">
		SELECT COUNT(*) FROM NOTICE 
		<if test="noMotherNo == 0">
			WHERE NO_MOTHER_NO IS NULL 
			AND ST_NO = 1 AND NO_STATUS = 1
		</if>
		<if test="noMotherNo != 0">
			WHERE NO_MOTHER_NO = #{noMotherNo} 
			AND NO_STATUS = 1
		</if>
	</select>
	
	<!-- <select id="selectNListCount" parameterType="Notice"  resultType="_int">
		SELECT COUNT(*) FROM NOTICE 
		WHERE NO_MOTHER_NO IS NULL 
		AND ST_NO = 1
	</select>
	
	<select id="selectRListCount" parameterType="Notice"  resultType="_int">
		SELECT COUNT(*) FROM NOTICE 
		WHERE NO_MOTHER_NO = #{noMotherNo} 
		AND NO_STATUS = 1
	</select> -->
		
	<select id="selectNoticeList" resultMap="noticeResultMap">
		SELECT ROW_NUMBER() OVER(ORDER BY NO_INSERTDATE) AS NO_RNUM, 
		NO_NO, NO_TITLE, NO_INSERTDATE, NO_COUNT , MB_NICKNAME, NO_REPLY_COUNT
		FROM NOTICE
		JOIN MEMBER USING(MB_NO)
		WHERE NO_STATUS = 1 AND NO_MOTHER_NO IS NULL
		ORDER BY NO_RNUM DESC
	</select>
	
	<select id="selectOne" resultMap="noticeResultMap">
		SELECT * FROM NOTICE WHERE NO_NO = #{noNo }
		
		<!-- SELECT NO_NO, ST_NO, MB_NO, MB_NICKNAME, 
		NO_MOTHER_NO, NO_INSERTDATE, NO_TITLE, NO_CONTENTS,
		NO_FILENAME, NO_REFILENAME, NO_STATUS, NO_COUNT, NO_REPLY_COUNT
		FROM NOTICE 
		JOIN MEMBER USING(MB_NO)
		WHERE NO_NO = #{noNo } -->
	</select>
	
	<select id="selectSearchList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE
		<if test="searchCondition.toString() == 'title'">
			WHERE NO_TITLE LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'content'">
			WHERE NO_CONTENTS LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'all'">
			WHERE NO_TITLE LIKE '%' || #{searchValue } || '%'
			OR NO_CONTENTS LIKE '%' || #{searchValue } || '%'
		</if>
		ORDER BY NO_INSERTDATE DESC
	</select>

	<insert id="insertNotice" parameterType="Notice">
		<selectKey keyProperty="noNo" resultType="int" order="AFTER">
			select SEQ_NOTICE.currval FROM DUAL
		</selectKey>
		INSERT INTO NOTICE(NO_NO, ST_NO, MB_NO, NO_INSERTDATE, NO_TITLE, NO_CONTENTS, NO_FILENAME, NO_REFILENAME, NO_STATUS, NO_COUNT) 
		VALUES (SEQ_NOTICE.NEXTVAL, 1, 1, DEFAULT, #{noTitle}, #{noContents}, #{noFileName}, #{noReFileName}, DEFAULT, DEFAULT)
	</insert>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE 
		SET NO_TITLE = #{noTitle }, NO_CONTENTS = #{noContents }, NO_FILENAME = #{noFileName }, NO_REFILENAME = #{noReFileName}
		WHERE NO_NO = #{noNo }
	</update>
	
	<update id="updateCount">
		UPDATE NOTICE
		SET NO_COUNT = NO_COUNT + 1
		WHERE NO_NO = #{noNo }
	</update>
	
	<update id="deleteNotice" parameterType="_int">
		UPDATE NOTICE SET NO_STATUS = 0 WHERE NO_NO = #{noNo}
	</update>
	
	<!-- 댓글~~ --> 
	<select id="selectReplyList" resultMap="noticeResultMap">
		SELECT N.NO_NO, N.ST_NO, MB_NO, N.NO_MOTHER_NO, N.NO_INSERTDATE, N.NO_TITLE, N.NO_CONTENTS, N.NO_FILENAME, N.NO_STATUS, M.MB_NICKNAME, M.MB_PHOTO 
		FROM NOTICE N 
		JOIN MEMBER M 
		USING(MB_NO) 
		WHERE N.NO_MOTHER_NO = #{noMotherNo} 
		AND N.NO_STATUS = 1 
		ORDER BY N.NO_NO DESC
	</select>
	
	<select id="selectOneReply">
		SELECT NO_NO, ST_NO, MB_NO, NO_MOTHER_NO, NO_INSERTDATE, NO_TITLE, NO_CONTENTS, NO_STATUS, M.MB_NICKNAME, M.MB_PHOTO 
		FROM (SELECT * FROM NOTICE WHERE NO_MOTHER_NO = #{noMotherNo} AND NO_STATUS = 1 ORDER BY NO_NO DESC) 
		JOIN MEMBER M
		USING(MB_NO) 
		WHERE ROWNUM = 1
	</select>
	
	<insert id="insertReply"  parameterType="Notice">
		<if test="noMotherNo != 0">
			INSERT INTO NOTICE(NO_NO, ST_NO, MB_NO, NO_MOTHER_NO, NO_INSERTDATE, NO_TITLE, NO_CONTENTS, NO_STATUS) 
			VALUES(SEQ_NOTICE.NEXTVAL, 1, 1, #{noMotherNo}, DEFAULT, '댓글이야', #{noContents}, DEFAULT)
		</if>
	</insert>
	 <!-- 댓글 수 업데이트 -->
	<update id="updateReplyCount" parameterType="_int">
		UPDATE NOTICE SET NO_REPLY_COUNT = (SELECT COUNT(NO_NO) FROM NOTICE 
        WHERE NO_MOTHER_NO = #{noMotherNo} ) WHERE NO_NO = #{noMotherNo} 
	</update>
	
	<update id="deleteReply" parameterType="_int">
		UPDATE NOTICE SET NO_STATUS = 0 WHERE NO_NO = #{noNo}
	</update>
	
</mapper>