<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studyMapper">

	<resultMap type="Study" id="studyResultMap">
		<id property="studyNo" column="ST_NO"></id>
		<result property="leaderNo" column="MB_NO"></result>
		<result property="filename" column="ST_FILENAME"></result>
		<result property="studyName" column="ST_NAME"></result>
		<result property="introduce" column="ST_INTRODUCE"></result>
		<result property="maxPersonnel" column="ST_MAX_PERSONNEL"></result>
		<result property="insertDate" column="ST_INSERTDATE"></result>
		<result property="status" column="ST_STATUS"></result>
		<result property="url" column="ST_URL"></result>
		<result property="monday" column="ST_MON"></result>
		<result property="tuesday" column="ST_TUE"></result>
		<result property="wednesday" column="ST_WED"></result>
		<result property="thursday" column="ST_THU"></result>
		<result property="friday" column="ST_FRI"></result>
		<result property="saturday" column="ST_SAT"></result>
		<result property="sunday" column="ST_SUN"></result>
		<result property="start" column="ST_START"></result>
		<result property="end" column="ST_END"></result>
	</resultMap>
	
	<resultMap id="studySearchMap" type="com.studyus.study.domain.StudySearchResult">
		<id property="studyNo" column="ST_NO"></id>
		<result property="rNum" column="RNUM"></result>
		<result property="leaderNo" column="MB_NO"></result>
		<result property="filename" column="ST_FILENAME"></result>
		<result property="studyName" column="ST_NAME"></result>
		<result property="introduce" column="ST_INTRODUCE"></result>
		<result property="maxPersonnel" column="ST_MAX_PERSONNEL"></result>
		<result property="insertDate" column="ST_INSERTDATE"></result>
		<result property="status" column="ST_STATUS"></result>
		<result property="url" column="ST_URL"></result>
		<result property="monday" column="ST_MON"></result>
		<result property="tuesday" column="ST_TUE"></result>
		<result property="wednesday" column="ST_WED"></result>
		<result property="thursday" column="ST_THU"></result>
		<result property="friday" column="ST_FRI"></result>
		<result property="saturday" column="ST_SAT"></result>
		<result property="sunday" column="ST_SUN"></result>
		<result property="start" column="ST_START"></result>
		<result property="end" column="ST_END"></result>
		<collection property="hashtagList" ofType="com.studyus.hashtag.domain.Hashtag" autoMapping="true">
			<id property="hashtagNo" column="HA_NO" javaType="int"></id>
			<result property="name" column="HA_NAME" javaType="String"></result>
		</collection>
	</resultMap>
	
	<!-- useGeneratedKeys="true"  keyProperty="caNo" keyColumn="CA_NO" -->
	<insert id="insertStudy" parameterType="Study">
		<selectKey keyProperty="studyNo" resultType="int" order="AFTER">
			select SEQ_STUDY.currval FROM DUAL
		</selectKey>
		INSERT INTO STUDY VALUES (SEQ_STUDY.NEXTVAL, 
								#{leaderNo}, 
								#{filename}, 
								#{studyName},
								#{introduce},
								DEFAULT,
								DEFAULT,
								DEFAULT,
								#{url},
								#{monday},
								#{tuesday},
								#{wednesday},
								#{thursday},
								#{friday},
								#{saturday},
								#{sunday},
								#{start},
								#{end}
							)
	</insert>
	<!-- 결제페이지에서 가입한 스터디 출력 -->
	<select id="printStudyList" resultMap="studyResultMap">
		SELECT MB_NO, ST_NO, ST_NAME FROM STUDY 
		WHERE MB_NO = #{leaderNo}  AND ST_MAX_PERSONNEL = 5
	</select>
	
	<!-- 대시보드 스터디 날짜 출력  -->
	<select id="printStudyWeek" resultMap="studyResultMap">
		SELECT * FROM STUDY WHERE ST_NO = #{studyNo}
	</select>
	
	<!-- 예약페이지에서 가입한 스터디 모두 출력 -->
	<select id="printAllStudy" resultMap="studyResultMap">
		SELECT MB_NO, ST_NO, ST_NAME FROM STUDY 
		WHERE MB_NO = #{leaderNo}
	</select>
	
	<select id="checkUrl" resultType="int">
		SELECT COUNT(*) FROM STUDY WHERE ST_URL = #{url}
	</select> 
	
	<select id="selectOneByNo" parameterType="int" resultMap="studyResultMap">
		SELECT * FROM STUDY WHERE ST_NO = #{studyNo}
	</select>
	
	<select id="selectOneByUrl" parameterType="String" resultMap="studyResultMap">
		SELECT * FROM STUDY WHERE ST_URL = #{url}
	</select>
	
	<select id="selectAllEnrolledByMemberNo" parameterType="int" resultMap="studyResultMap">
		SELECT S.ST_NO, S.ST_NAME, S.ST_URL FROM STUDY S JOIN ENROLLMENT E ON S.ST_NO = E.ST_NO WHERE E.EN_STATUS = 1 AND E.MB_NO = #{memberNo}
	</select>
	
	<select id="selectAllSearch" parameterType="StudySearchCriteria" resultMap="studySearchMap">
		SELECT * FROM 
			(SELECT 
				DENSE_RANK() OVER (ORDER BY S.ST_NO DESC) RNUM, 
				S.*, 
				H.* 
				FROM STUDY S 
				    LEFT OUTER JOIN HASHTAG_RELATION R 
				        ON S.ST_NO = R.ST_NO
				    LEFT OUTER JOIN HASHTAG H
				        ON R.HA_NAME = H.HA_NAME
				    WHERE S.ST_URL LIKE '%' || #{keyword} || '%'
				        OR S.ST_NAME LIKE '%' || #{keyword} || '%'
				        OR S.ST_INTRODUCE LIKE '%' || #{keyword} || '%'
				    <if test="hashtags != null">
				        OR
				    	<foreach collection="hashtags" item="hashtag" separator="OR">
				    		H.HA_NAME LIKE '%' || #{hashtag} || '%'
				    	</foreach>
				    </if>
		    )
		WHERE RNUM BETWEEN ((#{page} - 1) * #{countPerPage} + 1) AND (#{page} * #{countPerPage})
	</select>
	
	<update id="updatePreStudy" parameterType="Study">
		UPDATE STUDY SET ST_MAX_PERSONNEL = 20 
		WHERE ST_NO =  #{studyNo}
	</update> 
	
	<select id="selectAllList" resultMap="studyResultMap">
		SELECT * FROM STUDY
		WHERE ST_STATUS = 1 
	</select>
	
	<update id="deleteStudy" parameterType="_int">
		UPDATE STUDY SET ST_STATUS = 0 WHERE ST_NO = #{caNo}
	</update>
</mapper>
