<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studyMapper">

	<resultMap type="Study" id="studyResultMap">
		<id property="studyNo" column="ST_NO"></id>
		<result property="leaderNo" column="MB_NO"></result>
		<result property="filename" column="ST_FILENAME"></result>
		<result property="studyName" column="ST_NAME"></result>
		<result property="introduce" column="ST_INTRODUCE"></result>
		<result property="maxPersonnel" column="ST_MAX_PERSONNEL"></result>
		<result property="insertDate" column="ST_INSERTDATE"></result>
		<result property="status" column="ST_STATUS"></result>
		<result property="url" column="ST_URL"></result>
		<result property="monday" column="ST_MON"></result>
		<result property="tuesday" column="ST_TUE"></result>
		<result property="wednesday" column="ST_WED"></result>
		<result property="thursday" column="ST_THU"></result>
		<result property="friday" column="ST_FRI"></result>
		<result property="saturday" column="ST_SAT"></result>
		<result property="sunday" column="ST_SUN"></result>
		<result property="start" column="ST_START"></result>
		<result property="end" column="ST_END"></result>
	</resultMap>
	
	<resultMap id="studySearchMap" type="com.studyus.study.domain.StudySearchResult">
		<id property="studyNo" column="ST_NO"></id>
		<result property="rNum" column="RNUM"></result>
		<result property="leaderNo" column="MB_NO"></result>
		<result property="filename" column="ST_FILENAME"></result>
		<result property="studyName" column="ST_NAME"></result>
		<result property="introduce" column="ST_INTRODUCE"></result>
		<result property="maxPersonnel" column="ST_MAX_PERSONNEL"></result>
		<result property="insertDate" column="ST_INSERTDATE"></result>
		<result property="status" column="ST_STATUS"></result>
		<result property="url" column="ST_URL"></result>
		<result property="monday" column="ST_MON"></result>
		<result property="tuesday" column="ST_TUE"></result>
		<result property="wednesday" column="ST_WED"></result>
		<result property="thursday" column="ST_THU"></result>
		<result property="friday" column="ST_FRI"></result>
		<result property="saturday" column="ST_SAT"></result>
		<result property="sunday" column="ST_SUN"></result>
		<result property="start" column="ST_START"></result>
		<result property="end" column="ST_END"></result>
		<collection property="hashtagList" ofType="com.studyus.hashtag.domain.Hashtag" autoMapping="true">
			<id property="hashtagNo" column="HA_NO" javaType="int"></id>
			<result property="name" column="HA_NAME" javaType="String"></result>
		</collection>
	</resultMap>
	
	<!-- useGeneratedKeys="true"  keyProperty="caNo" keyColumn="CA_NO" -->
	<insert id="insertStudy" parameterType="Study">
		<selectKey keyProperty="studyNo" resultType="int" order="AFTER">
			select SEQ_STUDY.currval FROM DUAL
		</selectKey>
		INSERT INTO STUDY VALUES (SEQ_STUDY.NEXTVAL, 
								#{leaderNo}, 
								#{filename}, 
								#{studyName},
								#{introduce},
								DEFAULT,
								DEFAULT,
								DEFAULT,
								#{url},
								#{monday},
								#{tuesday},
								#{wednesday},
								#{thursday},
								#{friday},
								#{saturday},
								#{sunday},
								#{start},
								#{end}
							)
	</insert>
	
	<select id="checkUrl" resultType="int">
		SELECT COUNT(*) FROM STUDY WHERE ST_URL = #{url}
	</select>
	
	<select id="selectOneByUrl" parameterType="String" resultMap="studyResultMap">
		SELECT * FROM STUDY WHERE ST_URL = #{url}
	</select>
	
	<select id="selectAllEnrolledByMemberNo" parameterType="int" resultMap="studyResultMap">
		SELECT S.ST_NO, S.ST_NAME, S.ST_URL FROM STUDY S JOIN ENROLLMENT E ON S.ST_NO = E.ST_NO WHERE E.EN_STATUS = 1 AND E.MB_NO = #{memberNo}
	</select>
	
	<select id="selectAllSearch" parameterType="StudySearchCriteria" resultMap="studySearchMap">
		SELECT * FROM 
			(SELECT 
				DENSE_RANK() OVER (ORDER BY S.ST_NO DESC) RNUM, 
				S.*, 
				H.* 
				FROM STUDY S 
				    LEFT OUTER JOIN HASHTAG_RELATION R 
				        ON S.ST_NO = R.ST_NO
				    LEFT OUTER JOIN HASHTAG H
				        ON R.HA_NAME = H.HA_NAME
				    WHERE S.ST_URL LIKE '%' || #{keyword} || '%'
				        OR S.ST_NAME LIKE '%' || #{keyword} || '%'
				        OR S.ST_INTRODUCE LIKE '%' || #{keyword} || '%'
				    <if test="hashtags != null">
				        OR
				    	<foreach collection="hashtags" item="hashtag" separator="OR">
				    		H.HA_NAME LIKE '%' || #{hashtag} || '%'
				    	</foreach>
				    </if>
		    )
		WHERE RNUM BETWEEN ((#{page} - 1) * #{countPerPage} + 1) AND (#{page} * #{countPerPage})
	</select>
	
	<!-- <select id="selectAllEnrolledByMemberNo" resultMap="studyResultMap">
		SELECT STUDY.ST_NO, STUDY.ST_NAME, STUDY.ST_URL FROM STUDY JOIN ENROLLMENT ON STUDY.ST_NO = ENROLLMENT.ST_NO WHERE ENROLLMENT.EN_STATUS = 1 AND ENROLLMENT.MB_NO = #{memberNo};
	</select> -->
	
	<!-- 
	<select id="selectNoticeList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE ORDER BY N_CREATE_DATE DESC
	</select>
	
	<select id="selectOne" resultMap="noticeResultMap">
		SELECT * FROM NOTICE WHERE NOTICE_NO = #{noticeNo }
	</select>
	
	<select id="selectSearchList" resultMap="noticeResultMap">
		SELECT * FROM NOTICE
		<if test="searchCondition.toString() == 'writer'">
			WHERE NOTICE_WRITER LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'title'">
			WHERE NOTICE_TITLE LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'content'">
			WHERE NOTICE_CONTENTS LIKE '%' || #{searchValue } || '%'
		</if>
		<if test="searchCondition.toString() == 'all'">
			WHERE NOTICE_WRITER LIKE '%' || #{searchValue } || '%'
			OR NOTICE_TITLE LIKE '%' || #{searchValue } || '%'
			OR NOTICE_CONTENTS LIKE '%' || #{searchValue } || '%'
		</if>
		ORDER BY N_CREATE_DATE DESC
	</select>

	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE VALUES(SEQ_NOTICEID.NEXTVAL, #{noticeTitle }, #{noticeContents }, #{noticeWriter }, DEFAULT, DEFAULT, #{noticeFilepath })
	</insert>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE 
		SET NOTICE_TITLE = #{noticeTitle }, NOTICE_CONTENTS = #{noticeContents }, NOTICE_FILEPATH = #{noticeFilepath }, N_UPDATE_DATE = SYSDATE
		WHERE NOTICE_NO = #{noticeNo }
	</update>
	
	<delete id="deleteNotice" parameterType="_int">
		DELETE FROM NOTICE WHERE NOTICE_NO = #{noticeNo }
	</delete>
	 -->
</mapper>
