<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null이 전달되면 빈칸이 아닌 null로 인식하도록 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>  
		<typeAlias type="com.studyus.study.domain.Study" alias="Study" />
		<typeAlias type="com.studyus.study.domain.StudySearchCriteria" alias="StudySearchCriteria" />
		<typeAlias type="com.studyus.member.domain.Member" alias="Member" />
		<typeAlias type="com.studyus.board.domain.Board" alias="Board"/>
		<typeAlias type="com.studyus.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="com.studyus.assignment.domain.Assignment" alias="Assignment"/>
		<typeAlias type="com.studyus.file.domain.FileVO" alias="FileVO"/>
		<typeAlias type="com.studyus.cafe.domain.Cafe" alias="Cafe" />
		<typeAlias type="com.studyus.enrollment.domain.Enrollment" alias="Enrollment" />
	</typeAliases>
	
	<mappers> 
		<mapper resource="mappers/study-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/hashtag-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/assignment-mapper.xml"/>
		<mapper resource="mappers/file-mapper.xml"/>
		<mapper resource="mappers/enrollment-mapper.xml"/>
	</mappers> 
</configuration> 
